* {
    margin: 0;
    padding: 0;
    }

.container {
    width: 1140px;
    margin: 0 auto;
}

/* .header {
} */

/* .headerBlock {
} */

.headerMenu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/* .headerItem {
} */

.welcomeH1 {
    width: 510px;
}

.welcomeText {
    width: 425px;
}

/* .career {
} */

.careerBlock {
    display: flex;
    justify-content:space-between;
}

.careerItem {
    width: 359px;
}

/* .hobby {
} */

/* .footer {
} */

.promotionItem {
    width: 425px;
}

.promotionHeader {
    width: 340px;
}

/* .footerBlock {
} */

.footerItem {
    display: flex;
    justify-content: space-between;
}

/* .copyright {
} */

/* .contactUsBlock {
} */

.contacts {
    display: flex;
}

.contactsBlock {
    flex-grow: 1;
}

.contactsForm {
    flex-grow: 1;
}

/* .address {
} */

/* .phones {
} */

/* .services {
} */

/* .formName {
    border: 3px solid yellow;
} */

/* .formEmail {
    border: 3px solid green;
} */

/* .formText {
    border: 3px solid orange;
} */

.mapBlock {
    display: flex;
}

.mapItem {
    flex-grow: 1;
}

body {
    font-family: sans-serif;
}
.paragraph {
    font-size: 16;
    line-height: 26px;
    color: #1F3F68;
}
.h1 {
    font-size: 64px;
    color: #1F3F68;
}

.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.h3 {
    font-size: 36px;
    text-align: center;
}
.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}