* {
    margin: 0;
    padding: 0;
    }

.container {
    width: 1140px;
    margin: 0 auto;
}

.main_header {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header_block {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.headerItem {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.welcome_h1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.welcomeText {
    width: 425px;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

/* .career {
} */

.careerBlock {
    display: flex;
    justify-content:space-between;
}

.careerItem {
    width: 359px;
}

/* .hobby {
} */

/* .footer {
} */

.promotionItem {
    width: 425px;
}

.promotionHeader {
    width: 340px;
}

/* .footerBlock {
} */

.footerItem {
    display: flex;
    justify-content: space-between;
}

/* .copyright {
} */

/* .contactUsBlock {
} */

.contacts {
    display: flex;
}

.contactsBlock {
    flex-grow: 1;
}

.contactsForm {
    flex-grow: 1;
}

/* .address {
} */

/* .phones {
} */

/* .services {
} */

/* .formName {
    border: 3px solid yellow;
} */

/* .formEmail {
    border: 3px solid green;
} */

/* .formText {
    border: 3px solid orange;
} */

.mapBlock {
    display: flex;
}

.mapItem {
    flex-grow: 1;
}

body {
    font-family: sans-serif;
}
.paragraph {
    font-size: 16;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.h3 {
    font-size: 36px;
    text-align: center;
}
.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}