* {
    margin: 0;
    padding: 0;
    }

/* .container {
    width: 1140px;
    margin: 0 auto;
    border: 3px solid lightgreen; 
} */

.header {
    border: 3px solid red;
}

.headerBlock {
    border: 3px solid lime;
}

.headerMenu {
    border: 3px solid blue;
}

.headerItem {
    border: 3px solid brown;
}

.career {
    border: 3px solid red;
}

.careerBlock {
    border: 3px solid lime;
}

.careerItem {
    border: 3px solid blue;
}

.hobby {
    border: 3px solid red;
}

.footer {
    border: 3px solid red;
}

.promotionBlock {
    border: 3px solid lime;
}

.promotionItem {
    border: 3px solid blue;
}

.footerContacts {
    border: 3px solid lime;
}

.copyright {
    border: 3px solid blue;
}

.contactUsBlock {
    border: 3px solid orange;
}

.contacts {
    border: 3px solid yellow;
}

.contactsBlock {
    border: 3px solid green;
}

.contactsForm {
    border: 3px solid blue;
}

.address {
    border: 3px solid orange;
}

.phones {
    border: 3px solid green;
}

.services {
    border: 3px solid red;
}

.formName {
    border: 3px solid yellow;
}

.formEmail {
    border: 3px solid green;
}

.formText {
    border: 3px solid orange;
}

.map {
    border: 3px solid orange;
}

.mapBlock {
    border: 3px solid blue;
}

body {
    font-family: sans-serif;
}
.paragraph {
    font-size: 16;
    line-height: 26px;
    color: #1F3F68;
}
.h1 {
    font-size: 64px;
    color: #1F3F68;
}
.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.h3 {
    font-size: 36px;
    text-align: center;
}
.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}